$primary-color: #11ca0b;
$primary-color-darker: #098305;
$secondary-color: rgb(8, 116, 224);


$nav-background: rgb(39, 39, 39);
$nav-link-color: #fff;

$basic-link-color: #087205;
$basic-link-color-hover: #057900;

$theme-1-color: #11ca0b;
$theme-2-color: #fff;
$theme-3-color: #f8f8f8;

.yellow-theme {
    background: $theme-1-color;
}
.white-theme {
   background: $theme-2-color;
}
.grey-theme {
   background: $theme-3-color;
}