.blog {
    margin: 20px 0;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: box-shadow ease 0.3s;
}

.blog:hover {
    box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
}

.blog a {
    text-decoration: none;
    background-color: $primary-color-darker;
    border-color: transparent;
}

.blog a:hover {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid $primary-color-darker;
    color: $primary-color-darker;
}